@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

@font-face {
  font-family: Calibri;
  font-display: swap;
  src: url("../files/Calibri.woff") format("woff"), url("../files/Calibri.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Calibri;
  font-display: swap;
  src: url("../files/Calibri-Bold.woff") format("woff"), url("../files/Calibri-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Calibri;
  font-display: swap;
  src: url("../files/Calibri-Light.woff") format("woff"), url("../files/Calibri-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  font-style: normal;
  font-family: Calibri;
  background: #fff;
  color: #000;
}

.wrapper a {
  color: inherit;
}

.container {
  max-width: 1623px;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;
}

.main-button {
  display: block;
  text-align: center;
  background: transparent;
  color: #fff;
  box-sizing: border-box;
  border: 5px solid #fff;
  padding: 7.5px 15px;
  font-size: 30px;
  transition: all 0.3s;
}

.main-button:hover {
  color: #000;
  background: #fff;
}

.main-button:active {
  background: transparent;
  color: #fff;
}

::-webkit-scrollbar {
  /* 1 - скроллбар */
  width: 5px;
}

::-webkit-scrollbar-button {
  /* 2 - кнопка */
  display: none;
}

::-webkit-scrollbar-track {
  /* 3 - трек */
}

::-webkit-scrollbar-track-piece {
  /* 4 - видимая часть трека */
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  /* 5 - ползунок */
  background-color: #4758a5;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  /* 6 - уголок */
}

::-webkit-resizer {
  /* 7 - изменение размеров */
}

main .start-block {
  background: #4758a5;
  color: #fff;
  padding-bottom: 115px;
}

main .start-block__head {
  padding-top: 36px;
  padding-bottom: 26px;
}

main .start-block__name {
  font-size: 30px;
  line-height: 115%;
}

main .start-block__name-about {
  font-size: 24px;
  line-height: 115%;
}

.no-webp main .start-block__main{
  background: url(../img/Ukraine.png) center/cover no-repeat; }

main .start-block__main {
  font-weight: 700;
}

main .main-block__title {
  padding-top: 200px;
  font-size: 97.59px;
  margin-bottom: 60px;
}

main .main-block__text {
  font-size: 38px;
  line-height: 115%;
  padding-bottom: 180px;
}

main .main-block__button {
  padding-bottom: 30px;
}

main .button-block__button {
  width: 290px;
}

.no-webp main .info{
  background: url(../img/info.png) center/cover no-repeat; }

main .info {
  padding-top: 50px;
  padding-bottom: 60px;
}

main .info__text {
  font-size: 36px;
}

main .info__text:nth-child(1) {
  margin-left: 300px;
}

main .info__text:nth-child(2) {
  margin-top: 130px;
  display: flex;
  align-items: center;
  justify-content: end;
}

main .info__button {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 60px;
}

main .make-contribution {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  box-sizing: border-box;
  padding: 7.5px 15px;
  color: #fff;
  transition: all 0.3s;
  background: #4758a5;
  font-size: 30px;
  text-align: center;
}

main .make-contribution:hover {
  background: #fff;
  color: #4758a5;
  outline: 1px solid #4758a5;
}

main .help {
  padding-top: 70px;
  padding-bottom: 70px;
}

main .help__links {
  font-size: 24px;
  line-height: 115%;
}

main .help__link {
  text-align: center;
  flex: 1 1 auto;
}

main .help__link a {
  text-align: center;
  padding: 15px;
}

.no-webp main .map{
  background: url(../img/flag.png) 0 center no-repeat, #4758a5; }

main .map {
  color: #fff;
  padding-top: 30px;
  padding-bottom: 100px;
}

main .head-map {
  margin-bottom: 70px;
}

main .head-map .head-map__title {
  font-size: 36px;
  line-height: 115%;
  margin-right: 100px;
  margin-left: 100px;
}

main .head-map .head-map__title span {
  display: block;
  text-align: right;
  font-size: 18px;
}

main .head-map__main {
  margin-bottom: 40px;
}

main .main-map .main-map__image {
  flex: 0 1 957px;
}

main .main-map .main-map__image img {
  max-width: 100%;
}

main .main-map .main-map__legend {
  flex: 0 0 auto;
}

main .legend-map .legend-map__item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  padding-left: 70px;
  text-align: center;
  background: #fff;
  color: #000;
  font-size: 24px;
  line-height: 115%;
  position: relative;
}

main .legend-map .legend-map__item b:first-child {
  font-size: 32px;
}

main .legend-map .legend-map__item:not(:last-child) {
  margin-bottom: 44px;
}

main .legend-map .legend-map__item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 98px;
  height: 100%;
  border-radius: 50%;
  background: #c3b2d2;
}

main .legend-map .legend-map__item::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  width: 0;
  height: 0;
  border-bottom: 40px solid #4758a5;
  border-left: 40px solid transparent;
}

main .footer-map__text {
  font-size: 24px;
  line-height: 115%;
}

main .photo {
  background: #4758a5;
  padding-top: 130px;
  padding-bottom: 65px;
}

main .photo__container {
  color: #fff;
}

main .photo__title {
  font-size: 48px;
  line-height: 115%;
  margin-bottom: 115px;
}

main .photo__content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 34px;
  -moz-column-gap: 41px;
       column-gap: 41px;
}

main .content-photo {
  margin-bottom: 72px;
}

main .content-photo__image {
  flex: 0 1 500px;
  position: relative;
  position: relative;
}

main .content-photo__image img {
  max-width: 100%;
}

main .content-photo__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 0, 0.2);
}

main .image__name {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 48px;
  line-height: 115%;
  z-index: 5;
}

main .photo__text {
  font-size: 24px;
  line-height: 115%;
  margin-bottom: 93px;
}

main .photo__text span {
  display: block;
  text-align: right;
}

main .photo__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .plan {
  color: #000;
  padding-top: 73px;
  padding-bottom: 323px;
}

main .plan__title {
  font-size: 97.59px;
  display: inline-flex;
  justify-content: end;
  font-weight: 700;
  flex-direction: column;
}

main .plan__title:not(:first-child) {
  margin-top: 146px;
}

main .plan__title span {
  display: block;
  text-align: right;
  font-size: 36px;
  margin-bottom: 30px;
}

main .today {
  display: block;
  font-size: 42.21px;
  margin-top: 66px;
  margin-bottom: 99px;
}

main .plan__content {
  margin-top: 99px;
}

main .content-play__item {
  flex: 0 1 530px;
}

main .item-plan__head {
  line-height: 110%;
  display: flex;
  align-items: start;
  gap: 30px;
  font-size: 36px;
  padding-bottom: 39px;
  position: relative;
}

main .item-plan__head .number {
  font-weight: 700;
  font-size: 69.22px;
}

main .item-plan__head::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #555555;
  height: 18px;
  width: 100%;
}

main .item-plan__main {
  padding-top: 18px;
  width: 100%;
}

main .main-plan__body .today {
  display: block;
  font-size: 30px;
  margin: 0;
}

main .main-plan__list {
  margin-top: 20px;
  font-size: 36px;
}

main .content-play__button {
  margin-top: 120px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main .content-play__button a {
  border: 2px solid #555555;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 74px;
  padding-right: 74px;
  transition: all 0.3s;
}

main .content-play__button a:hover {
  background: #555555;
  color: #fff;
}

main .donate__title {
  font-size: 97.59px;
  font-weight: 700;
  margin-bottom: 39px;
  text-align: center;
}

main .content-donate__body {
  flex: 0 1 50%;
}

main .content-donate__list {
  font-size: 36px;
  font-weight: 700;
}

main .content-donate__list li:not(:last-child) {
  margin-bottom: 20px;
}

main .content-donate__image {
  flex: 0 1 50%;
  display: flex;
  align-items: end;
}

main .content-donate__image img {
  max-width: 100%;
}

main .blog {
  padding-top: 66px;
  padding-bottom: 56px;
  color: #fff;
  background: #4758a5;
}

main .blog__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 30px;
}

main .blog__content {
  font-size: 32px;
  margin-bottom: 30px;
}

main .blog__footer {
  font-weight: 700;
  font-size: 36px;
}

footer {
  background: #6776b7;
  padding-top: 64px;
  padding-bottom: 113px;
  color: #fff;
}

footer .footer__head {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (auto)[3];
      grid-template: 1fr/repeat(3, auto);
  text-align: center;
  align-items: center;
  font-size: 30px;
  border-bottom: 2px solid #ffffff;
}

footer .head-footer__social {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .social-footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
}

footer .social-footer__list li {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  position: relative;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

footer .social-footer__list li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .social-footer__list li img {
  max-width: 100%;
}

footer .main-button {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

footer .footer__link {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 15px;
  padding-right: 15px;
}

footer .footer__copy {
  margin: 5px 0 0 0;
  font-weight: 300;
  text-align: center;
  font-size: 21.44px;
}

@media (min-width: 600px) {
  main .main-block__title {
    padding-left: 35px;
  }

  main .main-block__text {
    padding-left: 55px;
  }

  main .main-block__button {
    padding-left: 58px;
  }

  main .help__links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}

@media (min-width: 830px) {
  main .start-block__head {
    display: flex;
    align-items: start;
    justify-content: center;
  }

  main .start-block__name {
    border-right: 2px solid #fff;
    padding: 0 20px 0 0;
  }

  main .start-block__name-about {
    padding-left: 50px;
  }

  main .main-block__button {
    display: flex;
    align-items: center;
    gap: 325px;
  }

  main .head-map {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  main .footer-map__text {
    margin-left: 137px;
  }

  main .photo__text {
    margin-left: 120px;
  }

  main .content-play {
    display: flex;
    align-items: start;
    justify-content: start;
    row-gap: 145px;
    -moz-column-gap: 307px;
         column-gap: 307px;
    flex-wrap: wrap;
  }

  main .item-plan__main {
    display: inline-flex;
    flex-direction: column;
  }

  main .main-plan__body {
    display: inline-flex;
    flex-direction: column;
    align-items: end;
  }

  main .donate__content {
    display: flex;
    justify-content: center;
  }

  main .content-donate__list {
    margin-bottom: 143px;
  }

  footer .head-footer__name {
    padding: 0 0 20px 0;
    border-right: 2px solid #fff;
  }

  footer .head-footer__social {
    border-right: 2px solid #fff;
  }

  footer .footer__main {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  main .main-map {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
  }
}

@media (max-width: 1623px) {
  .main-button {
    font-size: calc(26px + 4 * ((100vw - 320px) / 1303));
  }

  main .start-block {
    padding-bottom: calc(15px + 100 * ((100vw - 320px) / 1303));
  }

  main .start-block__head {
    padding-top: calc(15px + 21 * ((100vw - 320px) / 1303));
  }

  main .start-block__head {
    padding-bottom: calc(15px + 11 * ((100vw - 320px) / 1303));
  }

  main .start-block__name {
    font-size: calc(26px + 4 * ((100vw - 320px) / 1303));
  }

  main .start-block__name-about {
    font-size: calc(22px + 2 * ((100vw - 320px) / 1303));
  }

  main .main-block__title {
    padding-top: calc(50px + 150 * ((100vw - 320px) / 1303));
  }

  main .main-block__title {
    font-size: calc(32px + 65.59 * ((100vw - 320px) / 1303));
  }

  main .main-block__title {
    margin-bottom: calc(20px + 40 * ((100vw - 320px) / 1303));
  }

  main .main-block__text {
    font-size: calc(26px + 12 * ((100vw - 320px) / 1303));
  }

  main .main-block__text {
    padding-bottom: calc(50px + 130 * ((100vw - 320px) / 1303));
  }

  main .main-block__button {
    padding-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .info {
    padding-top: calc(15px + 35 * ((100vw - 320px) / 1303));
  }

  main .info {
    padding-bottom: calc(15px + 45 * ((100vw - 320px) / 1303));
  }

  main .info__text {
    font-size: calc(26px + 10 * ((100vw - 320px) / 1303));
  }

  main .info__text:nth-child(1) {
    margin-left: calc(0px + 300 * ((100vw - 320px) / 1303));
  }

  main .info__text:nth-child(2) {
    margin-top: calc(15px + 115 * ((100vw - 320px) / 1303));
  }

  main .info__button {
    margin-top: calc(15px + 45 * ((100vw - 320px) / 1303));
  }

  main .make-contribution {
    font-size: calc(26px + 4 * ((100vw - 320px) / 1303));
  }

  main .help {
    padding-top: calc(15px + 55 * ((100vw - 320px) / 1303));
  }

  main .help {
    padding-bottom: calc(15px + 55 * ((100vw - 320px) / 1303));
  }

  main .help__links {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1303));
  }

  main .map {
    padding-top: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .map {
    padding-bottom: calc(15px + 85 * ((100vw - 320px) / 1303));
  }

  main .head-map {
    margin-bottom: calc(15px + 55 * ((100vw - 320px) / 1303));
  }

  main .head-map .head-map__title {
    font-size: calc(26px + 10 * ((100vw - 320px) / 1303));
  }

  main .head-map .head-map__title {
    margin-right: calc(15px + 85 * ((100vw - 320px) / 1303));
  }

  main .head-map .head-map__title {
    margin-left: calc(15px + 85 * ((100vw - 320px) / 1303));
  }

  main .head-map .head-map__title span {
    font-size: calc(14px + 4 * ((100vw - 320px) / 1303));
  }

  main .head-map__main {
    margin-bottom: calc(15px + 25 * ((100vw - 320px) / 1303));
  }

  main .legend-map .legend-map__item {
    padding-top: calc(15px + 5 * ((100vw - 320px) / 1303));
  }

  main .legend-map .legend-map__item {
    padding-bottom: calc(15px + 5 * ((100vw - 320px) / 1303));
  }

  main .legend-map .legend-map__item {
    padding-right: calc(20px + 10 * ((100vw - 320px) / 1303));
  }

  main .legend-map .legend-map__item {
    padding-left: calc(60px + 10 * ((100vw - 320px) / 1303));
  }

  main .legend-map .legend-map__item {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1303));
  }

  main .legend-map .legend-map__item b:first-child {
    font-size: calc(22px + 10 * ((100vw - 320px) / 1303));
  }

  main .legend-map .legend-map__item:not(:last-child) {
    margin-bottom: calc(20px + 24 * ((100vw - 320px) / 1303));
  }

  main .footer-map__text {
    font-size: calc(20px + 4 * ((100vw - 320px) / 1303));
  }

  main .photo {
    padding-top: calc(15px + 115 * ((100vw - 320px) / 1303));
  }

  main .photo {
    padding-bottom: calc(15px + 50 * ((100vw - 320px) / 1303));
  }

  main .photo__title {
    font-size: calc(26px + 22 * ((100vw - 320px) / 1303));
  }

  main .photo__title {
    margin-bottom: calc(15px + 100 * ((100vw - 320px) / 1303));
  }

  main .photo__content {
    row-gap: calc(15px + 19 * ((100vw - 320px) / 1303));
  }

  main .photo__content {
    -moz-column-gap: calc(15px + 26 * ((100vw - 320px) / 1303));
         column-gap: calc(15px + 26 * ((100vw - 320px) / 1303));
  }

  main .content-photo {
    margin-bottom: calc(15px + 57 * ((100vw - 320px) / 1303));
  }

  main .image__name {
    font-size: calc(26px + 22 * ((100vw - 320px) / 1303));
  }

  main .photo__text {
    font-size: calc(16px + 8 * ((100vw - 320px) / 1303));
  }

  main .photo__text {
    margin-bottom: calc(15px + 78 * ((100vw - 320px) / 1303));
  }

  main .plan {
    padding-top: calc(15px + 58 * ((100vw - 320px) / 1303));
  }

  main .plan {
    padding-bottom: calc(15px + 308 * ((100vw - 320px) / 1303));
  }

  main .plan__title {
    font-size: calc(32px + 65.59 * ((100vw - 320px) / 1303));
  }

  main .plan__title:not(:first-child) {
    margin-top: calc(15px + 131 * ((100vw - 320px) / 1303));
  }

  main .plan__title span {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1303));
  }

  main .plan__title span {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .today {
    font-size: calc(18px + 24.21 * ((100vw - 320px) / 1303));
  }

  main .today {
    margin-top: calc(0px + 66 * ((100vw - 320px) / 1303));
  }

  main .today {
    margin-bottom: calc(15px + 84 * ((100vw - 320px) / 1303));
  }

  main .plan__content {
    margin-top: calc(15px + 84 * ((100vw - 320px) / 1303));
  }

  main .item-plan__head {
    gap: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .item-plan__head {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1303));
  }

  main .item-plan__head {
    padding-bottom: calc(25px + 14 * ((100vw - 320px) / 1303));
  }

  main .item-plan__head .number {
    font-size: calc(22px + 47.22 * ((100vw - 320px) / 1303));
  }

  main .item-plan__main {
    padding-top: calc(15px + 3 * ((100vw - 320px) / 1303));
  }

  main .main-plan__body .today {
    font-size: calc(16px + 14 * ((100vw - 320px) / 1303));
  }

  main .main-plan__list {
    margin-top: calc(15px + 5 * ((100vw - 320px) / 1303));
  }

  main .main-plan__list {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1303));
  }

  main .content-play__button {
    margin-top: calc(15px + 105 * ((100vw - 320px) / 1303));
  }

  main .content-play__button {
    font-size: calc(22px + 8 * ((100vw - 320px) / 1303));
  }

  main .content-play__button a {
    padding-top: calc(10px + 0 * ((100vw - 320px) / 1303));
  }

  main .content-play__button a {
    padding-bottom: calc(10px + 0 * ((100vw - 320px) / 1303));
  }

  main .content-play__button a {
    padding-left: calc(15px + 59 * ((100vw - 320px) / 1303));
  }

  main .content-play__button a {
    padding-right: calc(15px + 59 * ((100vw - 320px) / 1303));
  }

  main .donate__title {
    font-size: calc(32px + 65.59 * ((100vw - 320px) / 1303));
  }

  main .donate__title {
    margin-bottom: calc(15px + 24 * ((100vw - 320px) / 1303));
  }

  main .content-donate__list {
    font-size: calc(22px + 14 * ((100vw - 320px) / 1303));
  }

  main .content-donate__list li:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1303));
  }

  main .blog {
    padding-top: calc(15px + 51 * ((100vw - 320px) / 1303));
  }

  main .blog {
    padding-bottom: calc(15px + 41 * ((100vw - 320px) / 1303));
  }

  main .blog__title {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1303));
  }

  main .blog__title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .blog__content {
    font-size: calc(24px + 8 * ((100vw - 320px) / 1303));
  }

  main .blog__content {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .blog__footer {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1303));
  }

  footer {
    padding-top: calc(15px + 49 * ((100vw - 320px) / 1303));
  }

  footer {
    padding-bottom: calc(15px + 98 * ((100vw - 320px) / 1303));
  }

  footer .footer__head {
    font-size: calc(24px + 6 * ((100vw - 320px) / 1303));
  }

  footer .social-footer__list {
    gap: calc(15px + 20 * ((100vw - 320px) / 1303));
  }

  footer .footer__link {
    font-size: calc(24px + 12 * ((100vw - 320px) / 1303));
  }

  footer .footer__link {
    padding-top: calc(15px + 23 * ((100vw - 320px) / 1303));
  }

  footer .footer__link {
    padding-bottom: calc(15px + 23 * ((100vw - 320px) / 1303));
  }

  footer .footer__copy {
    font-size: calc(16px + 5.44 * ((100vw - 320px) / 1303));
  }
}

@media (max-width: 1200px) {
  main .main-map {
    text-align: center;
  }

  main .legend-map .legend-map__item {
    margin: 0 0 0 50px;
  }
}

@media (max-width: 830px) {
  main .start-block__head {
    text-align: center;
  }

  main .start-block__name {
    border-bottom: 2px solid #fff;
    padding: 0 0 10px 0;
  }

  main .start-block__name-about {
    padding: 10px 0 0 0;
  }

  main .button-block__button:not(:last-child) {
    margin-bottom: 30px;
  }

  main .info__text:nth-child(1) {
    margin: 0;
  }

  main .info__text:nth-child(2) {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  main .info__button {
    margin-top: 30px;
    justify-content: start;
  }

  main .head-map {
    text-align: center;
  }

  main .head-map .head-map__title span {
    text-align: center;
  }

  main .head-map .head-map__title {
    margin-bottom: 30px;
  }

  main .main-map .main-map__image {
    margin-bottom: 30px;
  }

  main .photo__title {
    text-align: center;
  }

  main .content-play .content-play__item:not(:last-child) {
    margin-bottom: 50px;
  }

  main .donate__content {
    text-align: center;
  }

  main .content-donate__body {
    margin-bottom: 39px;
  }

  main .content-donate__image {
    margin: 0 auto;
  }

  footer .footer__head {
    -ms-grid-rows: auto 20px auto 20px auto;
    -ms-grid-columns: 1fr;
        grid-template: repeat(3, auto)/1fr;
    gap: 20px;
    padding: 0 0 20px 0;
  }
}

@media (max-width: 830px) and (max-width: 1623px) {
  main .button-block__button:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .info__text:nth-child(2) {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .info__button {
    margin-top: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .head-map .head-map__title {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .main-map .main-map__image {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }

  main .content-play .content-play__item:not(:last-child) {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1303));
  }

  main .content-donate__body {
    margin-bottom: calc(15px + 24 * ((100vw - 320px) / 1303));
  }
}

@media (max-width: 600px) {
  main .main-block {
    text-align: center;
    padding: 0 15px;
  }

  main .button-block__button {
    margin: 0 auto;
  }

  main .info__text {
    text-align: center;
  }

  main .info__button {
    justify-content: center;
  }

  main .help__link:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 600px) and (max-width: 1623px) {
  main .help__link:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1303));
  }
}

@media (max-width: 480px) {
  main .head-map .head-map__image {
    width: 150px;
    margin: 0 auto;
    height: auto;
  }

  main .head-map .head-map__image img {
    max-width: 100%;
  }

  main .legend-map .legend-map__item {
    border-radius: 10px;
  }

  main .legend-map .legend-map__item::before {
    height: 80px;
    width: 80px;
  }

  main .legend-map .legend-map__item::after {
    display: none;
  }

  main .legend-map .legend-map__item {
    margin: 0 0 0 40px;
  }
}

@media (max-width: 360px) {
  main .button-block__button {
    width: 100%;
  }
}

@media (min-width: 830px) and (max-width: 1623px) {
  main .start-block__name-about {
    padding-left: calc(20px + 30 * ((100vw - 320px) / 1303));
  }

  main .main-block__button {
    gap: calc(25px + 300 * ((100vw - 320px) / 1303));
  }

  main .footer-map__text {
    margin-left: calc(0px + 137 * ((100vw - 320px) / 1303));
  }

  main .photo__text {
    margin-left: calc(0px + 120 * ((100vw - 320px) / 1303));
  }

  main .content-play {
    row-gap: calc(15px + 130 * ((100vw - 320px) / 1303));
  }

  main .content-play {
    -moz-column-gap: calc(15px + 292 * ((100vw - 320px) / 1303));
         column-gap: calc(15px + 292 * ((100vw - 320px) / 1303));
  }

  main .content-donate__list {
    margin-bottom: calc(0px + 143 * ((100vw - 320px) / 1303));
  }
}

@media (min-width: 600px) and (max-width: 1623px) {
  main .main-block__title {
    padding-left: calc(15px + 20 * ((100vw - 320px) / 1303));
  }

  main .main-block__text {
    padding-left: calc(15px + 40 * ((100vw - 320px) / 1303));
  }

  main .main-block__button {
    padding-left: calc(15px + 43 * ((100vw - 320px) / 1303));
  }
}

.webp main .start-block__main{ background: url(../img/Ukraine.webp) center/cover no-repeat; }

.webp main .info{ background: url(../img/info.webp) center/cover no-repeat; }

.webp main .map{ background: url(../img/flag.webp) 0 center no-repeat, #4758a5; }

